<div id="page-head">
            <!--Page Title-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div id="page-title">
        <h1 class="page-header text-overflow">Parametrage</h1>
    </div>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--End page title-->


    <!--Breadcrumb-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <ol class="breadcrumb">
    <li><a href="#"><i class="demo-pli-home"></i></a></li>
    <li   class="active"><a [routerLink]="[]">Parametrage</a></li>
  
    </ol>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--End breadcrumb-->         
</div>


<!--Page content-->
<!--===================================================-->
<div id="page-content">
    
        <!-- Contact Panel -->
        <!---------------------------------->
        <div class="panel">
            <div class="panel-body">
    
                <h3>Parametrage de l'application</h3>
                    <hr class="new-section-sm bord-no">
                    <form  (ngSubmit)="onSubmit(f)" #f="ngForm" >
<div class="row">

<div class="col-lg-12">
  
        <div class="col-md-3 form-group">
            <strong class="text-main"> Titre </strong>
          <input type="text" class="form-control" ngModel #LIB_LIST_VAL="ngModel" name="LIB_LIST_VAL"  placeholder="">
        </div>
        <div class="col-md-3 form-group">
            <strong class="text-main"> Description </strong>
        
            <textarea class="form-control" rows="2" ngModel #COM_LIST_VAL="ngModel" name="COM_LIST_VAL" placeholder="Enter ..."></textarea>
        </div>
       
        <div class="col-md-3 form-group">
            <strong class="text-main"> Categorie </strong>
        
         <select class="form-control"  ngModel #TYP_LIST_VAL="ngModel" name="TYP_LIST_VAL">
           <option value="Chaine_Hotel">Chaine_Hotel</option>
           <option value="Type_Hotel">Type_Hotel</option>
           <option value="Type_Chambre">Type_Chambre</option>
           <option value="Vue_Chambre">Vue_Chambre</option>
           <option value="Type_Vente">Type_Vente</option>
           <option value="Groupe_Tarif">Groupe_Tarif</option>
           <option value="Pension">Pension</option>
           <option value="Equipement">Equipement</option>
           <option value="Devise">Devise</option>
           <option value="Langue">Langue</option>
         </select>
        </div>
     
        <div class="col-md-3 form-group">
            <strong class="text-main"> Abréviation </strong>
          <input type="text" class="form-control" ngModel #ABR_LIST_VAL="ngModel" name="ABR_LIST_VAL" placeholder="">
        </div>
 





      


    
 
</div>


    



<div class="col-lg-4"></div>
<div class="col-lg-4"><button type="submit" class="btn btn-primary btn-block">Enregistrer</button> </div>
<div class="col-lg-4"></div>
      
</div>
</form>      
            </div>
        </div>
        <!---------------------------------->
    
    

        <div class="panel">
            <div class="panel-body">
                	<hr class="new-section-sm bord-no">
<div class="row">
    <div class="col-lg-2"></div>
<div class="col-lg-8">

 
   
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="col-md-2">Titre</th>
                <th class="min-width">Catégorie</th>
                <th class="min-width">Abréviation</th>
                <th colspan="2" class="col-md-1"> #</th>
                
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let valeur of Tr_Liste_Val">
                <td >{{valeur.LIB_LIST_VAL}}</td>
                <td class="col-md-2"><div class="label label-table label-success"> {{valeur.TYP_LIST_VAL}}</div></td>
                <td class="col-md-3">{{valeur.ABR_LIST_VAL}}</td>
                <td class="min-width"><button type="button" class="btn btn-default btn-sm" (click)="updateValeur(valeur.ID_LIST_VAL)"><i class="fa fa-edit"></i></button></td>
                <td class="min-width"><button type="button" class="btn btn-danger btn-sm" (click)="deleteValeur(valeur.ID_LIST_VAL)"><i class="fa fa-remove"></i></button></td>
            </tr>
           
            </tbody>
        </table>



      


    
 
</div>

<div class="col-lg-2"></div>

</div>
               
            </div>
        </div>



        
</div>
