<div id="page-head">
                    
</div>


<!--Page content-->
<!--===================================================-->
<div id="page-content">
    
        <!-- Contact Panel -->
        <!---------------------------------->
        <div class="panel">
            <div class="panel-body">
    
                <h3>Parametrage de l'application</h3>
                	<hr class="new-section-sm bord-no">
<div class="row">

<div class="col-lg-12">

        <div class="col-md-3 form-group">
            <strong class="text-main"> Titre </strong>
          <input type="text" class="form-control" id="Titre" placeholder="">
        </div>
        <div class="col-md-3 form-group">
            <strong class="text-main"> Description </strong>
        
            <textarea class="form-control" rows="2" placeholder="Enter ..."></textarea>
        </div>
        <div class="col-md-3 form-group">
            <strong class="text-main"> Categorie </strong>
        
         <select class="form-control">
           <option value="Chaine_Hotel">Chaine_Hotel</option>
           <option value="Pays">Pays</option>
           <option value="Type_Chambre">Type_Chambre</option>
           <option value="Vue_Chambre">Vue_Chambre</option>
           <option value="Type_Vente">Type_Vente</option>
           <option value="Groupe_Tarif">Groupe_Tarif</option>
           <option value="Pension">Pension</option>
           <option value="Equipement">Equipement</option>
           <option value="Devise">Devise</option>
           <option value="Langue">Langue</option>
         </select>
        </div>
     
        <div class="col-md-3 form-group">
            <strong class="text-main"> Abréviation </strong>
          <input type="text" class="form-control" id="Abréviation" placeholder="">
        </div>
 





      


    
 
</div>


    



<div class="col-lg-4"></div>
<div class="col-lg-4"><button type="button" class="btn btn-primary btn-block">Enregistrer</button> </div>
<div class="col-lg-4"></div>
      
</div>
               
            </div>
        </div>
        <!---------------------------------->
    
    

        <div class="panel">
            <div class="panel-body">
                	<hr class="new-section-sm bord-no">
<div class="row">
    <div class="col-lg-2"></div>
<div class="col-lg-8">

 
   
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Titre</th>
                <th class="min-width">Catégorie</th>
                <th class="min-width">Abréviation</th>
                <th colspan="2" class="min-width"> #</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tunisie</td>
                <td><div class="label label-table label-success">Pays</div></td>
                <td>TN</td>
                <td><button type="button" class="btn btn-default btn-sm"><i class="fa fa-edit"></i></button></td>
                <td><button type="button" class="btn btn-danger btn-sm"><i class="fa fa-remove"></i></button></td>
            </tr>
           
            </tbody>
        </table>



      


    
 
</div>

<div class="col-lg-2"></div>

</div>
               
            </div>
        </div>



        
</div>
