<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <!-- Striped Table -->
            <!--===================================================-->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="Equi">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Service</th>
                                <th>Note</th>
                            
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let equipment of listeEquipement;let i=index">
                                <td>   <input id="demo-checkbox-addons"  type="checkbox" ></td>
                                <td>{{equipment.LIB_LIST_VAL}}</td>
                                <td>    <star-rating class="form-control" (ratingChange)="onRatingChange($event,i)" [starType]="'svg'" [rating]="0"></star-rating></td>
                                <td> <input type="hidden" [value]="ListeRating[i]"></td>
                                <td> <input type="hidden" [value]="equipment.ID_LIST_VAL"></td>
                                
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
            <!--===================================================-->
            <!-- End Striped Table -->

        </div>
    </div>
    
</div>