<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Striped rows</h3>
            </div>

            <!-- Striped Table -->
            <!--===================================================-->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Service</th>
                                <th>Note</th>
                            
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="#fakelink" class="btn-link">Order #53451</a></td>
                                <td>    <star-rating class="form-control" [starType]="'svg'" [rating]="0" id="Catégorie"></star-rating></td>
                                
                            </tr>
                            <tr>
                                <td><a href="#fakelink" class="btn-link">Order #53452</a></td>
                                <td>    <star-rating class="form-control" [starType]="'svg'" [rating]="0" id="Catégorie"></star-rating></td>
                              
                            </tr>
                            <tr>
                                <td><a href="#fakelink" class="btn-link">Order #53453</a></td>
                                <td>    <star-rating class="form-control" [starType]="'svg'" [rating]="0" id="Catégorie"></star-rating></td>
                            
                            </tr>
                            <tr>
                                <td><a href="#fakelink" class="btn-link">Order #53454</a></td>
                                <td>    <star-rating class="form-control" [starType]="'svg'" [rating]="0" id="Catégorie"></star-rating></td>
                                
                            </tr>
                            <tr>
                                <td><a href="#fakelink" class="btn-link">Order #53455</a></td>
                                <td>    <star-rating class="form-control" [starType]="'svg'" [rating]="0" id="Catégorie"></star-rating></td>
                               
                            </tr>
                            <tr>
                                <td><a href="#fakelink" class="btn-link">Order #53456</a></td>
                                <td>    <star-rating class="form-control" [starType]="'svg'" [rating]="0" id="Catégorie"></star-rating></td>
                              
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--===================================================-->
            <!-- End Striped Table -->

        </div>
    </div>
    
</div>