<div class="row">
    <div class="col-md-12">



        <div class="panel">
					
            <!--Panel heading-->
            <div class="panel-heading">
                <div class="panel-control pull-left">

                    <!--Nav tabs-->
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#demo-tabs-box-1">Ajouter Saison</a></li>
                        <li><a data-toggle="tab" href="#demo-tabs-box-2">Définir Saison</a></li>
                        <li><a data-toggle="tab" href="#demo-tabs-box-3" >Tarif</a></li>
                        <li><a data-toggle="tab" href="#demo-tabs-box-5">Liste Tarifs</a></li>
                        <li><a data-toggle="tab" href="#demo-tabs-box-4">Simulateur</a></li>
                        <li><a data-toggle="tab" href="#demo-tabs-box-6">Ajuster Tarif</a></li>
                    </ul>

                </div>
               
            </div>

            <!--Panel body-->
            <div class="panel-body">

                <!--Tabs content-->
                <div class="tab-content">
                    <div id="demo-tabs-box-1" class="tab-pane fade in active">
                        <app-add-saison></app-add-saison>
                    </div>
                    <div id="demo-tabs-box-2" class="tab-pane fade">
                        <app-affecter-date-saison [id]="id"></app-affecter-date-saison>
                    </div>
                    <div id="demo-tabs-box-3" class="tab-pane fade">
                        <app-ajouter-tarif [id]="id"></app-ajouter-tarif>
                    </div>
                    <div id="demo-tabs-box-4" class="tab-pane fade">
                        <app-simulateur [id]="id"></app-simulateur>
                    </div>
                    <div id="demo-tabs-box-5" class="tab-pane fade">
                        <app-liste-tarifs [id]="id"></app-liste-tarifs>
                    </div>
                    <div id="demo-tabs-box-6" class="tab-pane fade">
                        <app-ajuster-tarifs [id]="id"></app-ajuster-tarifs>
                    </div>
                </div>
            </div>
        </div>




        <!--===================================================-->
        <!--End Default Accordion-->

    </div>
    
        <!--===================================================-->
        <!--End Info Accordion -->
  
</div>