<div class="panel">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div id="demo-nestable" class="dd">
                    <ol class="dd-list">
                        <li class="dd-item" data-id="Item 1">
                            <div class="dd-handle dd-bg dd-anim">Item 1</div>
                        </li>
                        <li class="dd-item" data-id="Item 2">
                            <div class="dd-handle dd-bg dd-anim">Item 2</div>
                            <ol class="dd-list">
                                <li class="dd-item" data-id="Item 3"><div class="dd-handle dd-bg dd-anim">Item 3</div></li>
                                <li class="dd-item" data-id="Item 4"><div class="dd-handle dd-bg dd-anim">Item 4</div></li>
                            </ol>
                        </li>
                        <li class="dd-item" data-id="Item 5"><div class="dd-handle dd-bg dd-anim">Item 5</div></li>
                        <li class="dd-item" data-id="Item 6">
                            <div class="dd-handle dd-bg dd-anim">Item 6</div>
                            <ol class="dd-list">

                                <li class="dd-item" data-id="Item 7">
                                    <div class="dd-handle dd-bg dd-anim">Item 7</div>
                                    <ol class="dd-list">
                                        <li class="dd-item" data-id="Item 8"><div class="dd-handle dd-bg dd-anim">Item 8</div></li>
                                        <li class="dd-item" data-id="Item 9"><div class="dd-handle dd-bg dd-anim">Item 9</div></li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                        <li class="dd-item" data-id="Item 10"><div class="dd-handle dd-bg dd-anim">Item 10</div></li>
                    </ol>
                </div>
            </div>
            <div class="col-md-6">
                
                <p class="text-main text-bold">Logs</p>
                <textarea id="demo-nestable-logs" class="form-control" rows="7" readonly></textarea>
            </div>
        </div>
    </div>
</div>