<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <!-- Striped Table -->
            <!--===================================================-->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="Equi">
                        <thead>
                            <tr>
                                <th>Service</th>
                                <th>Note</th>
                                <th>Action</th>
                            
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let equipment of ListeEquipements;let i=index">
                                <td>{{equipment.LIB_LIST_VAL}}</td>
                                <td>    <star-rating class="form-control" (ratingChange)="onRatingChange($event,i)" [starType]="'svg'" [rating]="equipment.Note"></star-rating></td>
                                <td>    <ng-switchery  [(ngModel)]="equipment.Etat"  (change)="abc(equipment.Etat)" ></ng-switchery>

                                </td>
                             
                                <td> <input type="hidden" [value]="0"></td>
                                
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
            <!--===================================================-->
            <!-- End Striped Table -->

        </div>
    </div>
    
</div>