

<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
            <tr class="bg-default">
                <th class="text-center">Achat</th>
                <td>    <input type="number" class="form-control"  placeholder=""></td>
                <th class="text-center">Vente</th>
                <td>     <input type="number" class="form-control"  placeholder=""></td>
                <td>        <select class="form-control"></select></td>
            </tr>

     
            <tr class="bg-default">
            
                <th >Si l'occupation est de : </th>
                <td>    <input type="number" class="form-control"></td>
                <th class="text-center">Adulte(s) +</th>
                <td>     <input type="number" class="form-control"></td>
                <th class="text-center">enfant(s)</th>
            </tr>
           


            <tr class="bg-default">
            
                <th>Applicable sur les  </th>
                <td>     <select class="form-control"></select></td>
                <th >Age entre </th>
                <td>     <input type="number" class="form-control"></td>
                <th class="text-center" >et</th>
                <td >     <input type="number" class="form-control"></td>
            </tr>
            <tr class="bg-default">
            
                <th >Applicable pour  </th>
                <td>      <input type="radio" > toute personne</td>
  
                <td>     <input type="radio" > ou bien sur la  personne N° </td>
                <td>     <input type="number" class="form-control"></td>
            </tr>
        </tbody>
    </table>
</div>


<div class="col-lg-12">
    <button type="button" class="btn btn-primary pull-right">Ajouter</button>
</div>