


<div id="page-head">
                    
</div>
<hr class="new-section-sm bord-no">
<hr class="new-section-sm bord-no">
<hr class="new-section-sm bord-no">

<div id="page-content">
                    
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-base">
					
                <!--Nav Tabs-->
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a data-toggle="tab" href="#demo-lft-tab-1">Informations Général</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#demo-lft-tab-5">Présentation</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#demo-lft-tab-2">Equipements</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#demo-lft-tab-6">Chambres</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#demo-lft-tab-3">Photos</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#demo-lft-tab-4">Tarifs</a>
                    </li>
                 
                   


                </ul>
    
                <!--Tabs Content-->
                <div class="tab-content">
                    <div id="demo-lft-tab-1" class="tab-pane fade active in">
                        <p class="text-main text-semibold">Informations Général</p>
                      <app-formulaire-add-hotel [id]="id"></app-formulaire-add-hotel>
                    </div>
                    <div id="demo-lft-tab-2" class="tab-pane fade">
                        <p class="text-main text-semibold">Equipements</p>
                    <app-update-equipements [id]="id"></app-update-equipements>
                    </div>
                    <div id="demo-lft-tab-3" class="tab-pane fade">
                        <p class="text-main text-semibold">Photos</p>
                     <app-images></app-images>
                    </div>
                    <div id="demo-lft-tab-4" class="tab-pane fade">
                        <p class="text-main text-semibold">Tarifs</p>
                     <app-tarifs></app-tarifs>
                    </div>
                   
                    <div id="demo-lft-tab-5" class="tab-pane fade">
                        <p class="text-main text-semibold">Présentation</p>
                     <app-update-presentation [id]="id"></app-update-presentation>
                    </div>
                    <div id="demo-lft-tab-6" class="tab-pane fade">
                        <p class="text-main text-semibold">Chambres</p>
                     <app-update-chambres [id]="id"></app-update-chambres>
                    </div>
                </div>
            </div>
            
            </div>
            </div>
            </div>