

<div id="modalChambres" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 class="modal-title" id="myLargeModalLabel" >Ajouter Chambre</h4>
      
            </div>
            <div class="modal-body">
                <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                    <input type="hidden" value="" name="ID_Hotel">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody> 
                                <tr>
                                    
                                    <th class="text-center">Categorie</th>
                                    <td> <select class="form-control"  ngModel #Categorie="ngModel" name="Categorie">
                                        <option  [value]="cat.LIB_LIST_VAL" *ngFor="let cat of ListeCategorie"  >{{cat.LIB_LIST_VAL}}</option>
                                    </select></td>
                                    <th class="text-center">Vue</th>
                                    <td> <select class="form-control" ngModel #Vue="ngModel" name="Vue">

                                        <option  [value]="vue.LIB_LIST_VAL" *ngFor="let vue of ListeVue"  >{{vue.LIB_LIST_VAL}}</option>
                                    </select></td>
                                    <th class="text-center">Capacité</th>
                                    <td><input type="number" class="form-control"  placeholder="" ngModel #Capacite_Max="ngModel" name="Capacite_Max"></td>
                    
                                    <th class="text-center">Type de vente</th>
                                    <td><select class="form-control" ngModel #Type_Vente="ngModel" name="Type_Vente">

                                        <option  [value]="Typev.LIB_LIST_VAL" *ngFor="let Typev of ListeType_Vente"  >{{Typev.LIB_LIST_VAL}}</option>
                                    </select></td>
                                </tr>
                                <tr>
                                    <th class="text-center">Description</th>
                                    <td colspan="5"><textarea class="form-control" ngModel #Description="ngModel" name="Description"></textarea></td>
                                  
                                </tr>
                    
                               
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-primary pull-right" >Ajouter</button>
                    </div>
                    </form>
                    
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>


<hr>
<div class="panel-body">
    <div class="pad-btm form-inline">
        <div class="row">
            <div class="col-sm-6 table-toolbar-left">
                <button id="demo-btn-addrow" class="btn btn-primary"  data-toggle="modal"  data-target="#modalChambres"><i class="demo-pli-add"></i> Ajouter</button> 
            </div>
            
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th >Chambre</th>
                    <th>Categorie</th>
                    <th>Vue</th>
                    <th>Type de vente</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let chambre of this.ListeDesChambres ; let i = index">
                    <td>{{chambre.Type_Chambre}}</td>
                    <td>{{chambre.Categorie}}</td>
                    <td>{{chambre.Vue}}</td>
                    <td>{{chambre.Type_Vente}}</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>