

<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
            <tr class="bg-default">
                <th class="text-center">Achat</th>
                <td>    <input type="number" class="form-control"  placeholder=""></td>
                <th class="text-center">Vente</th>
                <td>     <input type="number" class="form-control"  placeholder=""></td>
                <td>        <select class="form-control"></select></td>
                <th >Note: </th>
                <td>    <input type="text" class="form-control"></td>
                <td>      <button type="button" class="btn btn-primary pull-right">Ajouter</button></td>
            </tr>

     
            <tr class="bg-default">
           
        </tbody>
    </table>
</div>

