<form (ngSubmit)="onSubmit(f)" #f="ngForm" >

<div class="table-responsive">
    <table class="table table-striped ">
        <tbody>
            <tr class="bg-default">
                <td class="col-lg-2">        <select class="form-control"  ngModel  name="operation" >
                    <option value="-1">-</option>
                    <option value="1">+</option>
                </select></td>
                <th class="text-center">Achat</th>
                <td>    <input type="number" ngModel  name="Prix_Achat"  class="form-control"  placeholder=""></td>
                <th class="text-center">Vente</th>
                <td>     <input type="number" ngModel  name="Prix_Vente"  class="form-control"  placeholder=""></td>
                <td>        <select class="form-control"  ngModel  name="Type_Paiement" >
                    <option value="%">%</option>
                    <option value="MntFixe">montant fixe</option>
                </select></td>
                <th >Note: </th>
                <td>    <input type="text" class="form-control" ngModel name="Note"></td>
                <td>      <button type="submit" class="btn btn-primary pull-right">Ajouter</button></td>
            </tr>

     
         
           
        </tbody>
    </table>
</div>

</form>