<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary" (click)="fonctionModal()">Ajouter tarif</button>
    </div>
</div>

<div class="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 class="modal-title">Ajouter Tarif</h4>
            </div>

            <div class="modal-body">
                <app-ajouter-tarif-form></app-ajouter-tarif-form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" type="button">Sauvgarder</button>
            </div>
        </div>
    </div>
</div>