



<div id="page-head">
                    
    <!--Page Title-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div id="page-title">
        <h1 class="page-header text-overflow">Gestion des hôtels </h1>
    </div>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--End page title-->


    <!--Breadcrumb-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <ol class="breadcrumb">
    <li><a  [routerLink]="[]"><i class="demo-pli-home"></i></a></li>
    <li><a  [routerLink]="[]">Gestion des hôtels</a></li>
    <li class="active">Ajouter hôtel</li>
    </ol>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--End breadcrumb-->

</div>


<!--Page content-->
<!--===================================================-->
<div id="page-content">
    
    <div class="panel">
        <div class="eq-height clearfix">
          
            <div class="col-md-12 eq-box-md eq-no-panel">
    
                <!-- Main Form Wizard -->
                <!--===================================================-->
                <div id="demo-main-wz">
    
                    <!--nav-->
                    <ul class="row wz-step wz-icon-bw wz-nav-off mar-top">
                        <li class="col-xs-3">
                            <a data-toggle="tab" href="#demo-main-tab1">
                                <span class="text-danger"><i class="demo-pli-information icon-2x"></i></span>
                                <h5 class="mar-no">Informations générales</h5>
                            </a>
                        </li>
                        <li class="col-xs-3">
                            <a data-toggle="tab" href="#demo-main-tab2">
                                <span class="text-warning"><i class="demo-pli-male icon-2x"></i></span>
                                <h5 class="mar-no">Presentation</h5>
                            </a>
                        </li>
                        <li class="col-xs-3">
                            <a data-toggle="tab" href="#demo-main-tab3">
                                <span class="text-info"><i class="demo-pli-home icon-2x"></i></span>
                                <h5 class="mar-no">Equipement</h5>
                            </a>
                        </li>
                      
                        <li class="col-xs-3">
                            <a data-toggle="tab" href="#demo-main-tab4">
                                <span class="text-success"><i class="demo-pli-medal-2 icon-2x"></i></span>
                                <h5 class="mar-no">Chambres</h5>
                            </a>
                        </li>
                       
                    </ul>
    
                    <!--progress bar-->
                    <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-primary"></div>
                    </div>
    
    
                    <!--form-->
                    <form class="form-horizontal" >
                        <div class="panel-body">
                            <div class="tab-content">
    
                                <!--First tab-->
                                <div id="demo-main-tab1" class="tab-pane">
                                    <app-form-ajouter-hotel></app-form-ajouter-hotel>
                                </div>
    
                                <!--Second tab-->
                                <div id="demo-main-tab2" class="tab-pane fade">
                                   <app-presentation></app-presentation>
                                   
                                   
                                </div>
    
                                <!--Third tab-->
                                <div id="demo-main-tab3" class="tab-pane">
                                    <app-equipements></app-equipements>
                                </div>
    
                                <!--Fourth tab-->
                              
                                <div id="demo-main-tab4" class="tab-pane">
                                   <app-chambres></app-chambres>
                                </div>
                            
                            </div>
                        </div>
    
    
                        <!--Footer buttons-->
                        <div class="pull-right pad-rgt mar-btm  demo-nifty-btn">
                            <button type="button" class="previous btn btn-primary">Précédent</button>
                            <button type="button" class="next btn btn-primary">Suivant</button>
                            <button type="button" class="finish btn btn-success" disabled (click)="test()">Valider</button>
                        </div>
    
                    </form>
                </div>
                <!--===================================================-->
                <!-- End of Main Form Wizard -->
    
            </div>
          
        </div>
    </div>
  
    
    
    
    
</div>






