<div id="page-head">
                    
</div>


<!--Page content-->
<!--===================================================-->
<div id="page-content">
    
        <!-- Contact Panel -->
        <!---------------------------------->
        <div class="panel">
            <div class="panel-body">
    
                <h3>Ajouter Hôtel</h3>
                	<hr class="new-section-sm bord-no">
<div class="row">

<div class="col-lg-8">
    <div class="col-md-6">
        <div class="form-group">
            <strong class="text-main"> Nom de l'hôtel </strong>
          <input type="text" class="form-control" id="Nomhotel" placeholder="Entrer le nom de l'hôtel">
        </div>
        <div class="form-group">
            <strong class="text-main"> Devise </strong>
        
         <select class="form-control">
           <option>TND</option>
         </select>
        </div>
        <div class="form-group">
            <strong class="text-main"> Chaine d'hôtel </strong>
        
         <select class="form-control">
           <option>hôtel</option>
         </select>
        </div>
     
        <div class="form-group">
            <strong class="text-main"> Heure d'entrée </strong>
          
                        <input type="time" class="form-control">
                      </div>
      </div>





      <div class="col-md-6">
        <div class="form-group">
            <strong class="text-main"> Type d'hôtel </strong>
          
         <select class="form-control">
           <option>hôtel</option>
         </select>
        </div>
        <div class="form-group">
            <strong class="text-main"> Catégorie </strong>
        
          <star-rating class="form-control" [starType]="'svg'" [rating]="0" id="Catégorie"></star-rating>
        
        </div>
        <div class="form-group">
            <strong class="text-main"> Langue </strong>
      
         <select class="form-control">
           <option>FR</option>
         </select>
        </div>
        <div class="form-group">
            <strong class="text-main"> Heure de départ </strong>
         
                        <input type="time" class="form-control">
                      </div>
      
      </div>


      <div class="col-lg-12">
        <div class="col-md-4 form-group ">
            <strong class="text-main"> Distance centre ville </strong>
        
      
            <input type="number" class="form-control" id="" placeholder="">
           
        </div>
        <div class="col-md-4 form-group ">
            <strong class="text-main"> Distance aeroport </strong>
        
      
            <input type="number" class="form-control" id="" placeholder="">
           
        </div>
        <div class="col-md-4 form-group ">
            <strong class="text-main"> longitude latitude </strong>
        
      
            <input type="text" class="form-control" id="" placeholder="">
           
        </div>
      </div>

      <div class="col-lg-12">
        <div class="form-group">
            <strong class="text-main"> Description </strong>
        
      
                <textarea class="form-control" rows="5" placeholder="Enter ..."></textarea>
           
        </div>
      </div>
                
</div>
<div class="col-lg-4">
    <div class="form-group">
        <strong class="text-main"> Email </strong>
       
        <input type="email" class="form-control" id="Email" placeholder="Email">
      </div> 
          <div class="form-group">
            <strong class="text-main"> Adresse </strong>
          
            <input type="text" class="form-control" id="Adresse" placeholder="Adresse">
          </div>
          <div class="form-group">
            <strong class="text-main"> Site internet </strong>
           
            <input type="text" class="form-control" id="stInternet" placeholder="Site internet">
          </div>
          <div class="form-group">
            <strong class="text-main">Pays</strong>
         
           <select class="form-control">
             <option>Tunisie</option>
           </select>
          </div>
          <div class="form-group">
            <strong class="text-main">Code postal</strong>
          
           <select class="form-control">
             <option>Beni khaled | 8021</option>
           </select>
          </div>
          <div class="form-group">
            <strong class="text-main">Téléphone</strong>
           
            <input type="number" class="form-control" id="Téléphone" placeholder="Téléphone">
          </div>
          <div class="form-group">
            <strong class="text-main">Fax</strong>
           
            <input type="number" class="form-control" id="Fax" placeholder="Fax">
          </div>
</div>


    



<div class="col-lg-4"></div>
<div class="col-lg-4"><button type="button" class="btn btn-primary btn-block">Enregistrer</button> </div>
<div class="col-lg-4"></div>
      
</div>
               
            </div>
        </div>
        <!---------------------------------->
    
    
        
</div>
