<div class="panel">

        <!-- Bubble Numbers Form Wizard -->
        <!--===================================================-->
        <div id="demo-step-wz">
            <div class="wz-heading wz-w-label">

                <!--Progress bar-->
                <div class="progress progress-xs">
                    <div style="width: 15%;" class="progress-bar progress-bar-dark"></div>
                </div>

                <!--Nav-->
                <ul class="wz-steps wz-icon-bw wz-nav-off text-lg">
                    <li class="col-xs-6">
                        <a data-toggle="tab" href="#demo-step-tab1">
                            <span class="icon-wrap icon-wrap-xs icon-circle bg-dark mar-ver">
                                <span class="wz-icon icon-txt text-bold">1</span>
                                <i class="wz-icon-done demo-psi-like"></i>
                            </span>
                            <small class="wz-desc box-block text-semibold"></small>
                        </a>
                    </li>
                    <li class="col-xs-6">
                        <a data-toggle="tab" href="#demo-step-tab2">
                            <span class="icon-wrap icon-wrap-xs icon-circle bg-dark mar-ver">
                                <span class="wz-icon icon-txt text-bold">2</span>
                                <i class="wz-icon-done demo-psi-like"></i>
                            </span>
                            <small class="wz-desc box-block text-semibold">Suppléments sur les pensions</small>
                        </a>
                    </li>
                </ul>
            </div>

            <!--Form-->
            <form class="form-horizontal">
                <div class="panel-body">
                    <div class="tab-content">

                        <!--First tab-->
                        <div id="demo-step-tab1" class="tab-pane">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Groupe de tarif</label>
                                <div class="col-lg-7">
                                    <input type="text" class="form-control" name="username" placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Saison</label>
                                <div class="col-lg-7">
                                    <input type="email" class="form-control" name="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Type de chambre</label>
                                <div class="col-lg-7">
                                    <input type="email" class="form-control" name="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Pension de base</label>
                                <div class="col-lg-7">
                                    <input type="email" class="form-control" name="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Type de vente</label>
                                <div class="col-lg-7">
                                    <input type="email" class="form-control" name="email" placeholder="Email">
                                </div>
                            </div>
                           <div class="col-md-12">
                               <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Prix d'achat</label>
                                    <div class="col-lg-7">
                                        <input type="text" placeholder="Prix d'achat" name="firstName" class="form-control">
                                    </div>
                                </div>
                               </div>
                               <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Prix de vente</label>
                                    <div class="col-lg-7">
                                        <input type="text" placeholder="Prix d'achat" name="firstName" class="form-control">
                                    </div>
                                </div>
                               </div>
                           </div>
                        </div>

                    
                        <!--Third tab-->
                        <div id="demo-step-tab2" class="tab-pane">

                                    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th> </th>
                                            <th>Prix d'achat</th>
                                            <th>Prix de vente</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Logement simple</td>
                                            <td> <input type="text" placeholder="Prix d'achat" name="firstName" class="form-control"></td>
                                            <td> <input type="text" placeholder="Prix d'achat" name="firstName" class="form-control"></td>
                                        </tr>
                                        <tr>
                                            <td>Logement simple</td>
                                            <td> <input type="text" placeholder="Prix d'achat" name="firstName" class="form-control"></td>
                                            <td> <input type="text" placeholder="Prix d'achat" name="firstName" class="form-control"></td>
                                        </tr>
                                        <tr>
                                            <td>Logement simple</td>
                                            <td> <input type="text" placeholder="Prix d'achat" name="firstName" class="form-control"></td>
                                            <td> <input type="text" placeholder="Prix d'achat" name="firstName" class="form-control"></td>
                                        </tr>
                                        <tr>
                                            <td>Logement simple</td>
                                            <td> <input type="text" placeholder="Prix d'achat" name="firstName" class="form-control"></td>
                                            <td> <input type="text" placeholder="Prix d'achat" name="firstName" class="form-control"></td>
                                        </tr>
                                        <tr>
                                            <td>Logement simple</td>
                                            <td> <input type="text" placeholder="Prix d'achat" name="firstName" class="form-control"></td>
                                            <td> <input type="text" placeholder="Prix d'achat" name="firstName" class="form-control"></td>
                                        </tr>
                                        <tr>
                                            <td>Logement s</td>
                                            <td> <input type="text" placeholder="Prix d'achat" name="firstName" class="form-control"></td>
                                            <td> <input type="text" placeholder="Prix d'achat" name="firstName" class="form-control"></td>
                                        </tr>
                                        <tr>
                                            <td>Logement simple</td>
                                            <td> <input type="text" placeholder="Prix d'achat" name="firstName" class="form-control"></td>
                                            <td> <input type="text" placeholder="Prix d'achat" name="firstName" class="form-control"></td>
                                        </tr>
                                        <tr>
                                            <td>Logement simple</td>
                                            <td> <input type="text" placeholder="Prix d'achat" name="firstName" class="form-control"></td>
                                            <td> <input type="text" placeholder="Prix d'achat" name="firstName" class="form-control"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                         

                      
                </div>
          

                                </div>
                </div>

                <!--Footer button-->
                <div class="panel-footer text-right">
                    <div class="box-inline">
                        <button type="button" class="previous btn btn-info">Previous</button>
                        <button type="button" class="next btn btn-info">Next</button>
                        <button type="button" class="finish btn btn-info" disabled>Finish</button>
                    </div>
                </div>
            </form>
        </div>
        <!--===================================================-->
        <!-- End Bubble Numbers Form Wizard -->

    </div>
