<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Default theme</h3>
            </div>
            <div class="pad-all">
                <div id="demo-gallery" style="display:none;">

                    <a href="#">
                        <img alt="The winding road"
                             src="/assets/img/gallery/thumbs/tile1.jpg"
                             data-image="/assets/img/gallery/big/tile1.jpg"
                             data-description="The winding road description"
                             style="display:none">
                    </a>

                    <a href="#">
                        <img alt="Pancake"
                             src="/assets/img/gallery/thumbs/tile2.jpg"
                             data-image="/assets/img/gallery/big/tile2.jpg"
                             data-description="A pancake is a flat cake, often thin and round, prepared from a starch-based batter"
                             style="display:none">
                    </a>

                    <a href="#">
                        <img alt="Foreshore"
                             src="/assets/img/gallery/thumbs/tile3.jpg"
                             data-image="/assets/img/gallery/big/tile3.jpg"
                             data-description="The part of a shore between high- and low-water marks, or between the water and cultivated or developed land."
                             style="display:none">
                    </a>

                    <a href="#">
                        <img alt="Yellow Flowers"
                             src="assets/img/gallery/thumbs/tile4.jpg"
                             data-image="/assets/img/gallery/big/tile4.jpg"
                             data-description="Those are yellow flowers"
                             style="display:none">
                    </a>

                    <a href="#">
                        <img alt="Waterfall"
                             src="/assets/img/gallery/thumbs/tile5.jpg"
                             data-image="/assets/img/gallery/big/tile5.jpg"
                             data-description="A waterfall is a place where water flows over a vertical drop or a series of steep drops in the course of a stream or river."
                             style="display:none">
                    </a>

                    <a href="#">
                        <img alt="Pumpkin"
                             src="assets/img/gallery/thumbs/tile6.jpg"
                             data-image="/assets/img/gallery/big/tile6.jpg"
                             data-description="A pumpkin is a cultivar of a squash plant, most commonly of Cucurbita pepo, that is round, with smooth, slightly ribbed skin, and deep yellow to orange coloration."
                             style="display:none">
                    </a>

                    <a href="#">
                        <img alt="In the jungle"
                             src="assets/img/gallery/thumbs/tile7.jpg"
                             data-image="/assets/img/gallery/big/tile7.jpg"
                             data-description="This is my car"
                             style="display:none">
                    </a>

                    <a href="#">
                        <img alt="Note"
                             src="assets/img/gallery/thumbs/tile8.jpg"
                             data-image="/assets/img/gallery/big/tile8.jpg"
                             data-description="This is a note"
                             style="display:none">
                    </a>

                    <a href="#">
                        <img alt="Off-Road Motorcycle"
                             src="assets/img/gallery/thumbs/tile9.jpg"
                             data-image="/assets/mg/gallery/big/tile9.jpg"
                             data-description="This is a motorcycle"
                             style="display:none">
                    </a>

                    <a href="#">
                        <img alt="Adventure"
                             src="assets/img/gallery/thumbs/tile10.jpg"
                             data-image="/assets/img/gallery/big/tile10.jpg"
                             data-description="River Adventure Camping"
                             style="display:none">
                    </a>

                    <a href="#">
                        <img alt="The winding road"
                             src="assets/img/gallery/thumbs/tile1.jpg"
                             data-image="/assets/img/gallery/big/tile1.jpg"
                             data-description="The winding road description"
                             style="display:none">
                    </a>

                    <a href="#">
                        <img alt="Pancake"
                             src="assets/img/gallery/thumbs/tile2.jpg"
                             data-image="/assets/img/gallery/big/tile2.jpg"
                             data-description="A pancake is a flat cake, often thin and round, prepared from a starch-based batter"
                             style="display:none">
                    </a>

                    <a href="#">
                        <img alt="Foreshore"
                             src="assets/img/gallery/thumbs/tile3.jpg"
                             data-image="/assets/img/gallery/big/tile3.jpg"
                             data-description="The part of a shore between high- and low-water marks, or between the water and cultivated or developed land."
                             style="display:none">
                    </a>

                    <a href="#">
                        <img alt="Yellow Flowers"
                             src="assets/img/gallery/thumbs/tile4.jpg"
                             data-image="/assets/img/gallery/big/tile4.jpg"
                             data-description="Those are yellow flowers"
                             style="display:none">
                    </a>

                    
                </div>
            </div>
        </div>
    </div>



</div>



<div class="col-lg-12">
  

    <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
        <ngx-dropzone-label>
            <div>
                <h2>Ajouter image</h2>
            </div>
        </ngx-dropzone-label>
        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-image-preview>
    </div>
</div>


    