<div class="row">
    <div class="col-lg-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Default theme</h3>
            </div>
            <div class="pad-all">
                <div id="demo-gallery" style="display:none;">

                    <a href="#">
                        <img alt="The winding road"
                             src="/assets/img/gallery/thumbs/tile1.jpg"
                             data-image="/assets/img/gallery/big/tile1.jpg"
                             data-description="The winding road description"
                             style="display:none">
                    </a>

                    <a href="#">
                        <img alt="Pancake"
                             src="/assets/img/gallery/thumbs/tile2.jpg"
                             data-image="/assets/img/gallery/big/tile2.jpg"
                             data-description="A pancake is a flat cake, often thin and round, prepared from a starch-based batter"
                             style="display:none">
                    </a>

                    <a href="#">
                        <img alt="Foreshore"
                             src="/assets/img/gallery/thumbs/tile3.jpg"
                             data-image="/assets/img/gallery/big/tile3.jpg"
                             data-description="The part of a shore between high- and low-water marks, or between the water and cultivated or developed land."
                             style="display:none">
                    </a>

                    <a href="#">
                        <img alt="Yellow Flowers"
                             src="assets/img/gallery/thumbs/tile4.jpg"
                             data-image="/assets/img/gallery/big/tile4.jpg"
                             data-description="Those are yellow flowers"
                             style="display:none">
                    </a>

                    <a href="#">
                        <img alt="Waterfall"
                             src="/assets/img/gallery/thumbs/tile5.jpg"
                             data-image="/assets/img/gallery/big/tile5.jpg"
                             data-description="A waterfall is a place where water flows over a vertical drop or a series of steep drops in the course of a stream or river."
                             style="display:none">
                    </a>

                    <a href="#">
                        <img alt="Pumpkin"
                             src="assets/img/gallery/thumbs/tile6.jpg"
                             data-image="/assets/img/gallery/big/tile6.jpg"
                             data-description="A pumpkin is a cultivar of a squash plant, most commonly of Cucurbita pepo, that is round, with smooth, slightly ribbed skin, and deep yellow to orange coloration."
                             style="display:none">
                    </a>

                    <a href="#">
                        <img alt="In the jungle"
                             src="assets/img/gallery/thumbs/tile7.jpg"
                             data-image="/assets/img/gallery/big/tile7.jpg"
                             data-description="This is my car"
                             style="display:none">
                    </a>

                    <a href="#">
                        <img alt="Note"
                             src="assets/img/gallery/thumbs/tile8.jpg"
                             data-image="/assets/img/gallery/big/tile8.jpg"
                             data-description="This is a note"
                             style="display:none">
                    </a>

                    <a href="#">
                        <img alt="Off-Road Motorcycle"
                             src="assets/img/gallery/thumbs/tile9.jpg"
                             data-image="/assets/mg/gallery/big/tile9.jpg"
                             data-description="This is a motorcycle"
                             style="display:none">
                    </a>

                    <a href="#">
                        <img alt="Adventure"
                             src="assets/img/gallery/thumbs/tile10.jpg"
                             data-image="/assets/img/gallery/big/tile10.jpg"
                             data-description="River Adventure Camping"
                             style="display:none">
                    </a>

                    <a href="#">
                        <img alt="The winding road"
                             src="assets/img/gallery/thumbs/tile1.jpg"
                             data-image="/assets/img/gallery/big/tile1.jpg"
                             data-description="The winding road description"
                             style="display:none">
                    </a>

                    <a href="#">
                        <img alt="Pancake"
                             src="assets/img/gallery/thumbs/tile2.jpg"
                             data-image="/assets/img/gallery/big/tile2.jpg"
                             data-description="A pancake is a flat cake, often thin and round, prepared from a starch-based batter"
                             style="display:none">
                    </a>

                    <a href="#">
                        <img alt="Foreshore"
                             src="assets/img/gallery/thumbs/tile3.jpg"
                             data-image="/assets/img/gallery/big/tile3.jpg"
                             data-description="The part of a shore between high- and low-water marks, or between the water and cultivated or developed land."
                             style="display:none">
                    </a>

                    <a href="#">
                        <img alt="Yellow Flowers"
                             src="assets/img/gallery/thumbs/tile4.jpg"
                             data-image="/assets/img/gallery/big/tile4.jpg"
                             data-description="Those are yellow flowers"
                             style="display:none">
                    </a>

                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Bootstrap theme</h3>
            </div>
            <div class="panel-body">
        
                <!--Dropzonejs using Bootstrap theme-->
                <!--===================================================-->
                <p>This is a bootstrap theme of Dropzone.js with a completely different user experience.</p>
        
                <div class="bord-top pad-ver">
                    <!-- The fileinput-button span is used to style the file input field as button -->
                    <span class="btn btn-success fileinput-button dz-clickable">
                        <i class="fa fa-plus"></i>
                        <span>Add files...</span>
                    </span>
        
                    <div class="btn-group pull-right">
                        <button id="dz-upload-btn" class="btn btn-primary" type="submit" disabled>
                            <i class="fa fa-upload-cloud"></i> Upload
                        </button>
                        <button id="dz-remove-btn" class="btn btn-danger cancel" type="reset" disabled>
                            <i class="demo-psi-trash"></i>
                        </button>
                    </div>
                </div>
        
        
                <div id="dz-previews">
                    <div id="dz-template" class="pad-top bord-top">
                        <div class="media">
                            <div class="media-body">
                                 <!--This is used as the file preview template-->
                                <div class="media-block">
                                    <div class="media-left">
                                        <img class="dz-img" data-dz-thumbnail>
                                    </div>
                                    <div class="media-body">
                                        <p class="text-main text-bold mar-no text-overflow" data-dz-name></p>
                                        <span class="dz-error text-danger text-sm" data-dz-errormessage></span>
                                        <p class="text-sm" data-dz-size></p>
                                        <div id="dz-total-progress" style="opacity:0">
                                             <div class="progress progress-xs active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                                <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media-right">
                                <button data-dz-remove class="btn btn-xs btn-danger dz-cancel"><i class="demo-psi-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--===================================================-->
                <!--End Dropzonejs using Bootstrap theme-->
        
        
            </div>
        </div>
    </div>
</div>